---
layout: page
---

<!-- This is the template for gallery index page (show thumbnails) -->
<style TYPE="text/css">
body{
  background-color: #f2f2f2;
}

.gallery-wrapper {
  width: 35em;
  text-align: center;
  padding: 1em 0 4em 0;
}

.gallery-best-image{
  max-height: 40em;
  max-width: 40em;
  border-width: 3px;
  border-color: steelblue;
}
</style>


{% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}">
        <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
</div>
{% endfor %}
